.radio {
    display: inline-block;
    margin: 10px;
}

input[type='text'], input[type='num']{
    background: lightgray;
}

input[type='checkbox']{
    background: orange;
}

.content, .row {
    margin: 10px;
}

ul {
    list-style: none;
}

.toggleFlag {
    font-size: 10px;
}