.radio {
    display: inline-block;
    margin: 10px;
}

input[type='text'], input[type='url'], input[type='number']{
    background: #efefef;
}


.content, .row {
    margin: 10px;
}

.form-group ul {
    list-style: none;
}

.form-group li li {
    padding-left: 30px;
}

.toggleFlag {
    font-size: 10px;
}

.hint {
    color: gray;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.adsForm {
    border: 2px solid black;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 10px;
}

.toggle {
    padding: 5px;
}

.active {
    background: lightgray;
}

.categoriesTable thead {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

